<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>404</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h2>{{errormsg}}</h2>
    </div>
    
    {{>footer}}
</body>
</html>