<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This website was created by Fady Attia. and it uses weather API to get your weather info.</p>
        <img class="portrait" src="/img/Fady.jpg" alt="">
    </div>
    
    {{>footer}}
</body>
</html>