<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>help</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>if you need any help you can contact us on: {{email}}</p>
    </div>
    
    {{>footer}}
</body>
</html>